*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-color: #071D38;
    
}

/* ----------Cabecalho */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 75px;
    width: 100%;
}

#logo{
    width: 100px;
}
/* ------------------------Caixa de Pesquisa */
.search-box{
    transform: translate(-50%,-50%);
    background-color: lightgray;
    height: 40px;
    border-radius: 40px;
    margin-top: 40px; 
  }

  .search-txt{
    margin-left: 15px;
  }
  
  .search-box:hover > .search-txt{
    width: 240px;
    padding: 0 5px;
    transition: 0.5s;
  }
  
  .search-box:hover > .search-btn{
    background: none;
    transition: 0.5s;
  }
  
  .search-btn{  
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0A1A44;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 15px;
    transition: 0.3s;
    line-height: 40px;
    width: 240px;
 }
 /* ------Estilização dos Botões */
.botoes{
  width: 101%;
  display: flex;
  flex-direction: column;
}
.b1:hover {
    background-color: #999; /* Green */
    color: white;
}
.b1{
    color: white;
    background-color: #8C52FF;
    max-width: 11%;
    margin-top: 1%;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
  
}

/* ----Opcoes de programacao */
#Site{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Site:hover {
    background-color: #999; /* Green */
    color: white;
}

/* -------------------------------- */
/* ----Opcoes de Suporte Tecnico */

#Software{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Software:hover {
    background-color: #999; /* Green */
    color: white;
}

#Hardware{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Hardware:hover {
    background-color: #999; /* Green */
    color: white;
}
/* -----------Opcoes de Software */


/* -------------------------------- */
/* -----------Opcoes de Hardware */

#Montagem{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:22% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Montagem:hover {
    background-color: #999; /* Green */
    color: white;
}

#ManutencaoPreventiva{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:22% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#ManutencaoPreventiva:hover {
    background-color: #999; /* Green */
    color: white;
}
#SubstituicaoPecas{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:22% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#SubstituicaoPecas:hover {
    background-color: #999; /* Green */
    color: white;
}

#RecuperacaoPecas{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:22% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#RecuperacaoPecas:hover {
    background-color: #999; /* Green */
    color: white;
}

#Diagnostico{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:22% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Diagnostico:hover {
    background-color: #999; /* Green */
    color: white;
}

/* -------------------------------- 
/* -----------Opcoes de Gerenciamento de Sistemas */
#GerenciamentoConfiguracao{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -95px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GerenciamentoConfiguracao:hover {
    background-color: #999; /* Green */
    color: white;
}

#GerenciamentoCapacidade{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GerenciamentoCapacidade:hover {
    background-color: #999; /* Green */
    color: white;
}

#GerenciamentoDesempenho{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GerenciamentoDesempenho:hover {
    background-color: #999; /* Green */
    color: white;
}

#GerenciamentoIncidentes{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GerenciamentoIncidentes:hover {
    background-color: #999; /* Green */
    color: white;
}

#GerenciamentoOutros{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GerenciamentoOutros:hover {
    background-color: #999; /* Green */
    color: white;
}

/* 
-------------------------------- */
/* -----------Opcoes de Redes */
#Infraestrutura{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Infraestrutura:hover {
    background-color: #999; /* Green */
    color: white;
}

/* -------------------------------- */
/* -----------Opcoes de Consutoria */
#ImplementacaoSoftware{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#ImplementacaoSoftware:hover {
    background-color: #999; /* Green */
    color: white;
}

#SegurancaInformacao{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#SegurancaInformacao:hover {
    background-color: #999; /* Green */
    color: white;
}

#TransformacaoDigital{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#TransformacaoDigital:hover {
    background-color: #999; /* Green */
    color: white;
}

#RedesComputadores{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#RedesComputadores:hover {
    background-color: #999; /* Green */
    color: white;
}

#GerenciamentoProjetosTI{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GerenciamentoProjetosTI:hover {
    background-color: #999; /* Green */
    color: white;
}

/* -------------------------------- */
/* -----------Opcoes de LGPD */
#TreinPacoteOffice{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#TreinPacoteOffice:hover {
    background-color: #999; /* Green */
    color: white;
}

#TreinSistemas{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#TreinSistemas:hover {
    background-color: #999; /* Green */
    color: white;
}

#TreinMontagemManutencao{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#TreinMontagemManutencao:hover {
    background-color: #999; /* Green */
    color: white;
}

#TreinProgramacao{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#TreinProgramacao:hover {
    background-color: #999; /* Green */
    color: white;
}

#TreinRedes{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#TreinRedes:hover {
    background-color: #999; /* Green */
    color: white;
}


/* -----------Opcoes de Treinamento */
#ConformidadeLGPD{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    margin-top: -65px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#ConformidadeLGPD:hover {
    background-color: #999; /* Green */
    color: white;
}

#SegurancaInfoProtecaoDados{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#SegurancaInfoProtecaoDados:hover {
    background-color: #999; /* Green */
    color: white;
}

#GestaoRiscos{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#GestaoRiscos:hover {
    background-color: #999; /* Green */
    color: white;
}

#PrivacidadeProtecaoTerceiros{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#PrivacidadeProtecaoTerceiros:hover {
    background-color: #999; /* Green */
    color: white;
}

#ProcessosAuditoria{
    display: none;
    max-width: 11%;
    color: white;
    background-color: #8C52FF;
    margin-left:11% ;
    padding: 15px;
    border-radius: 20px;
    font-family: 'codecproextrabold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#ProcessosAuditoria:hover {
    background-color: #999; /* Green */
    color: white;
}

/* ----------- */
