body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	background-image: linear-gradient(to right, #8C52FF, #0A1A44);
}

#cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#caixasTexto{
    display: grid;
    margin-left: 100px;
    color: aliceblue;
    margin-top: 50px;
}

#checkbox{
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    color: aliceblue;
    font-size: 133%;

}

#checkbox > div{
    margin-bottom: 18px;
}

#topo{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

.input{
    width: 260px;
    margin-bottom: 40px;
    height: 30px;

}

.select{
    width: 269px;
    margin-bottom: 40px;
    height: 30px;
}

.resumo{
    width: 266px;
}

#botao{
    justify-content: center;
    align-items: center;
    text-align: center;   
}

button{
    color: aliceblue;
    background-color: #8C52FF;
    width: 180px;
    height: 58px;
    border-color: #8C52FF;
    border-radius: 18px 18px 18px 18px;
    font-size: 130%;
}

.go{
	display: block;
	text-decoration: none;
	color: white;
}
